.education{
    background-image: linear-gradient(white, #ecc4ff);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education h1{
    padding: 5px 30px;
    color: white;
    background-color: #AA14F0;
    border-radius: 40px;
}

.education .container ul{
    font-size: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.education .container ul li{
    margin-bottom: 20px;
}

@media (max-width: 767px){
    .education h1{
        font-size: 20px;
        margin-bottom: 0;
    }
}