
.topbar{
    width: 100%;
    height: 10vh;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.left{
    display: flex;
    align-items: center;
}

.left .logo{
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 30px;
}

.item-container{
    display: flex;
    align-items: center;
}

.item-container .icon{
    font-size: 18px;
    margin-right: 5px;
}

.item-container span{
    font-size: 18px;
    font-weight: 500;

}

.right .hamburger{
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span{
    width: 100%;
    height: 3px;
    background-color: #994848;
    transform-origin: left;
    transition: all 2s ease;
}

.active{
    background-color: #994848;
    color: white;
}

.active .hamburger span:first-child{
    background-color: white;
    transform: rotate(45deg);

}

.active .hamburger span:last-child{
    background-color: white;
    transform: rotate(-45deg)
}

:active .hamburger span:nth-child(2){
    opacity:0;
}



