.portfolio{
    background-image: "assets/project bg.png";
    background-repeat: no-repeat, repeat;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h1{
    padding: 20px 0 0;
    font-weight: 900;
    font-size: 40px;
    color: #c299ff;
    text-shadow: 0px 0px 0 rgb(185,144,246),
                 0px 1px 0 rgb(177,136,238),
                 0px 2px 0 rgb(168,127,229),
                 0px 3px  0 rgb(159,118,220),
                 0px 4px 3px rgba(0,0,0,0.9),
                 0px 4px 1px rgba(0,0,0,0.5),
                 0px 0px 3px rgba(0,0,0,.2);
}


.portfolio ul{
    margin: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.portfolio .container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.portfolio .container .item{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(46, 12, 56, 0.5);
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    transition: all .5s ease;
    cursor: pointer;
    
}

.container .item h3{
    text-align: center;
    margin: 10px;
    font-size: 15px;
    color: black;
    overflow-y: hidden;
}


.container .item img{
    width: 100%;
    height: auto;

}

.container .item .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-top: 0;
}


.container .item .icon a{
    padding: 10px 10px;
    
}

.container .item .icon a img:hover{
    background-color: #f0d1ff;
    transform: translateY(-5px);
}

.container .item .icon a img{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25%;
    transition: transform 250ms ease-in-out;
}



@media (max-width: 767px){
    .portfolio h1{
        font-size: 20px;
        margin-bottom: 0;
    }
    .portfolio ul{
        flex-wrap: wrap;
        margin: 10px 0;
        justify-content: center;
    }
    .portfolio .container{
        width: 100%;
    }
    .portfolio .container .item{
        width: 175px;
        height: 175px;
    }

    .container .item h3{
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 0;

    }

    .container .item img{
        width: 100%;
        height: auto;
    }

    .container .item .icon{
        margin-top: 5px;
        height: 30px;
    }
    .container .item .icon a img{
        width: 20px;
        height: 20px;
    }
}
