
.portfolioList{
    font-size: 20px;
    font-weight: 400;
    padding: 7px;
    margin-right: 50px;
    border-radius: 20px;
    cursor: pointer;
}

.portfolioList .active{
    font-size: inherit;
    font-weight: inherit;
    background-color: #994848;
    color: white;
}

@media (max-width:760px){
    .portfolioList{
        margin-right: 20px;
        font-size: 15px;
    }
}